.container{
        max-width: 1000px;
        margin:0 auto;
}

header {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

ul{
	display: flex;
	align-items: center;
	list-style: none;
}

Li{
	margin-right: 20px;
}

Li:last-child{
	margin-right: 0;
}